* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.game {
    width: 100%;
    height: 100vh;
    background: url(../images/gameBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 0;
}

.modes-container {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 300px;
    background-color: rgba(12, 12, 12, 0.7);
    border-radius: 40px;
    padding: 20px;
}

.modes-container button {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #121212;
    cursor: pointer;
}

.nav-container {
    margin: 0px auto 15px;
    width: 80%;
    padding-right: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.nav-container button {
    background-color: rgb(255, 81, 65);
    width: 50px;
    height: 30px;
    border: none;
    outline: none;
    color: white;
    border-radius: 30px;
}

.modes-container button.easy {
    box-shadow: 0 0 5px rgb(111, 183, 2);
}

.modes-container button.medium {
    box-shadow: 0 0 5px yellow;
}

.modes-container button.hard {
    box-shadow: 0 0 8px red;
}